.header-container {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px ;
    padding-right: 24px ;
}

hr {
    margin: 8px;
}

.logo-icon {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
}

.nav-container > button{
    height: 25px;

}

.section-container {
    padding-top: 40px;
    padding-bottom: 24px;
}

.section-content-container {
    display: flex;
}